@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* header */
:root {
    --background: rgba(241, 93, 94, 1);
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  

  header {
    background: var(--background);
    text-align: center;
    position: relative;
    z-index: 999;
    width: 100%;
  }

  .logo {
    width: 133px;
    height: 122px;
    object-fit: contain;
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: rgb(150, 211, 210);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  nav a:hover {
    color: rgb(218, 239, 235);
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }



  @media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: rgb(150, 211, 210);
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
  }

  /* header ends */

  /* home page */

body {
    background: linear-gradient(45deg, rgb(252, 208, 198) 15%, rgb(254, 221, 186));
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 60px;
    margin: none;
    font-family: fantasy;
}

h2 {
    text-align: center;
    font-size: 15px;
    margin: 0px 0px 4px 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 35px 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
}

h6 {
    text-align: center;
    font-family: monospace;
    font-size: 13px;
    margin: 30px 0px 10px 0px;
}

td{
    padding: 30px; 
}

.home{
    margin-top: 50px;
    width:500px;
    height: 350px;
    border-radius: 5px;
}

.home-info{
    margin:none;
}

.images-home {
    display: block;
    text-align: center;
    margin: 5px auto;
    border: 4px solid rgba(241, 93, 94, 1);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

th {
    font-size: 25px;
    color: rgb(8, 3, 1);
}

a {
    margin-right: 30px;
    font-size: 20px;
    color: white;
}

a:hover {
    color: rgba(241, 93, 94, 1);
    text-decoration: underline rgb(133, 60, 0);
}

.Para {
    text-align: center;
    margin: 30px 300px 30px 300px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.table-1 {
    margin: 45px;
}

.more-button {
    margin: 30px;
}

.table-title {
    margin-top: 50px;
    color: black;
    font-size: 44px;
}

Button {
    font-size: 18px;
    display: block;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 10px;
    margin: 0px auto;
    line-height: 10px;
    background-color: bisque;
    color: black;
    border: 5px solid rgb(170, 170, 238);
    border-color: bisque;
    border-radius: 25px 25px 25px 25px;
    text-decoration: none;
    box-shadow: 5px 5px 10px grey;
    transition: all 200ms ease;
}

button:hover {
    background-color: rgba(241, 93, 94);
    border-color: rgba(241, 93, 94);
    color: aliceblue;
    box-shadow: 2px 2px 30px rgb(255, 198, 113);
    cursor: pointer;
} 

/* end home page*/

/* contact */

/*Table of Contents

1. Elements
2. .Classes
3. #IDs
4. @media*/

* {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
/*1. Elements*/


select {
  margin: 10px;
}

textarea {
  margin-left: 10px;
  font-weight: normal;
}

/*2. Classes*/

.active {
  background-color: rgb(241, 93, 94) !important;
  color: black !important;
} 

.active:hover {
  background-color: rgb(247, 145, 34) !important;
  color: black !important;
} 

.bottom-space {
  margin-bottom: 40px;
  margin-top: 0px;
}

.centred {
  text-align: center;
}

.contactImage {
  width: 100%;
}

.errorContainer {
  color: red;
  font-weight: bold;
}

.explanatory {
  font-weight: normal;
}


.gimme-space {
  margin: 20px 20px 20px 0px;
}

.grey {
  background-color: rgb(150, 211, 210);
}

.hidden {
  display: none;
}

.hiddenButton {
  border: none;
  background-color: rgb(150, 211, 210);
  padding: 10px;
}

.requirement {
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.side-image {
  height: 100%;
  margin-top: 0px;
}


.warning {
  color: red;
  font-weight: bold;
}
/*3. IDs*/
#content-wrap {
  padding-bottom: 200px;
}

#donationSummary {
  border: 2px solid black;
  border-radius: 8px;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}

#getaddress_button {
  margin-left: 30px;
}

#navbar {
  padding-left: 0px;
  margin-top: 20px;
}

#thanksImage {
  width: 80%;
}
#thanksMessage {
  font-weight: bold;
  font-size: 16px;
}


/* end of contact */

/* footer */

* {
  padding: 0;
  margin: 0;
}

footer {
   background-color: rgba(241, 93, 94);   
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   display: flex;
   justify-content: space-around;
   height: 200px;
}

.footerLogo {
  margin: 30px;
  padding: 20px;
}

.footerRight {
  justify-content: center;
}

.footerNav {
  margin: 20px 0;
  padding: 20px;
}

.footerNav ul {
  font-size: 12px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.footerNav ul li a {
  color: rgb(150, 211, 210);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  color: white;
}

.footerText {
  color: white;
  padding: 20px;
  text-align: center;
}